.custom-blog-main-container {
  max-width: 1200px !important;
}

@font-face {
  font-family: "bootstrap-icons" !important;
  src: url("/public/fonts/bootstrap-icons.woff2") format("woff2"),
    url("/public/fonts/bootstrap-icons.woff") format("woff");
  font-weight: normal !important;
  font-style: normal !important;
  font-display: swap !important;
}

/* single page font css */
#primary h1 {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  margin-bottom: 1rem !important;
}

#primary h2 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  line-height: 1.3 !important;
  margin-bottom: 0.9rem !important;
}

#primary h3 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
  margin-bottom: 0.8rem !important;
}

#primary h4 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  margin-bottom: 0.7rem !important;
}

#primary p {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.75 !important;
  margin-bottom: 0.1rem !important;
}

@media (max-width: 768px) {
  #primary h1 {
    font-size: 2rem !important;
  }

  #primary h2 {
    font-size: 1.75rem !important;
  }

  #primary h3 {
    font-size: 1.25rem !important;
  }

  #primary h4 {
    font-size: 1.125rem !important;
  }

  #primary p {
    font-size: 0.95rem !important;
  }
}

/* single page font css end */
.entry-title,
.post-thumbnail,
.entry-header {
  position: static !important;
  top: auto !important;
}

#primary blockquote {
  margin: 0 0 1rem !important;
  border-left: 10px solid #a2a0a0 !important;
  background-color: #f7f7f7 !important;
  padding: 15px !important;
  width: auto !important;
  margin: 10px 0px !important;
}

/* header css */
header {
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
  background-color: #fff !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}

/* No shadow by default */
header.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}
.emoji {
  height: 16px !important;
}

main#content {
  max-width: 1200px !important;
}

img.navbar-brand {
  width: 100% !important;
  max-width: 250px !important;
}

.header-btn {
  background-color: #000000 !important;
  padding: 12px 30px !important;
  border: 2px solid #000000 !important;
  border-radius: 30px !important;
  text-decoration: none;
  font-weight: 600 !important;
  color: #ffffff !important;
  transition: all 0.3s ease-in-out !important;
}

.header-btn:hover {
  text-decoration: none !important;
  color: black !important;
  background-color: transparent !important;
}
/* header css end */

.author-section {
  background: transparent !important;
  border-radius: 16px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.custom-tags span {
  background-color: black !important;
  color: white !important;
  transition: all 0.3s ease-in-out !important;
}

.custom-tags span:hover {
  background-color: black !important;
  color: white !important;
  border: 2px solid black !important;
}

.author-section .col-lg-6 {
  background-color: #f9f9f9 !important;
  padding: 1.5rem !important;
  border-radius: 12px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05) !important;
}
.author-img {
  margin-right: 10px !important;
}

.author-section img.img-thumbnail {
  border: none !important;
  border-radius: 50% !important;
  width: 80px !important;
  height: 80px !important;
  object-fit: cover !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05) !important;
}

.author-section h5 {
  font-weight: 600 !important;
  margin-bottom: 0.5rem !important;
}

.author-section p {
  margin-bottom: 0 !important;
  color: #727272 !important;
  font-size: 16px !important;
  line-height: 1.6 !important;
}

.author-section .row {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 30px !important;
}
.post .wp-post-image {
  max-height: 100% !important;
}

.author-section .col-lg-6 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  background-color: #f9f9f9 !important;
  border-radius: 12px !important;
  padding: 1.5rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05) !important;
  flex: 1 !important;
}

/* 	BLOG PAGE CSS START */
.card-title {
  font-weight: 700 !important;
  font-size: 28px !important;
  line-height: 34px !important;
  color: rgb(51, 51, 51) !important;
}

.post-cat a {
  border: 2px solid #000000 !important;
  border-radius: 30px !important;
}

footer.entry-footer a {
  border: 1px solid black !important;
  padding: 3px 10px !important;
  border-radius: 30px !important;
  text-decoration: none !important;
  margin: 0 5px !important;
}

footer.entry-footer a :hover {
  background-color: black !important;
  color: white !important;
}

.custom-pagination {
  width: 100% !important;
}

/* Container for pagination */
.custom-pagination-nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: nowrap !important;
  gap: 1rem !important;
}

/* Tighter numbers group */
.custom-pagination {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
  padding: 0 !important;
  list-style: none !important;
  flex-wrap: nowrap !important;
}

/* Tighter number spacing */
.custom-pagination .page-item {
  margin: 0 2px !important;
}

.custom-pagination .page-link {
  padding: 4px 10px !important;
  min-width: 32px !important;
  text-align: center !important;
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
}

/* Active page style */
.custom-pagination .page-item.active .page-link {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
}

/* Prev/Next button styles */
.prev-next {
  padding: 8px 14px !important;
  border-radius: 12px !important;
  background-color: #f1f1f1 !important;
  border: 1px solid #ddd !important;
  color: #333 !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out !important;
  font-weight: 500 !important;
}

.prev-next:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

.prev-next:hover {
  background-color: #ffffff !important;
  color: black !important;
}

.prev-next:active {
  background-color: #000000 !important;
  color: white !important;
  border-color: #000000 !important;
}

section.tabs-wrap {
  margin-bottom: 2em;
  padding-top: 3em !important;
}

.post-cat a {
  border: 2px solid #5d5a5a !important;
  border-radius: 30px !important;
  padding: 3px 12px !important;
}

.post-meta-list {
  display: grid !important;
  grid-template-columns: fit-content(200px) 1fr !important;
  grid-template-rows: auto auto !important;
  column-gap: 4px !important;
  row-gap: 8px !important;
}

.post-meta-list a,
.post-meta-list span {
  font-size: 14px !important;
  color: #5d5a5a !important;
  font-weight: 500 !important;
}

.meta-author {
  grid-column: 1 / 2 !important;
  grid-row: 1 / 2 !important;
}

.meta-date {
  grid-column: 2 / 3 !important;
  grid-row: 1 / 2 !important;
}

.post-cat {
  grid-column: 1 / 3 !important;
  grid-row: 2 / 3 !important;
}

span.meta-date::before {
  content: "•" !important;
  font-size: 30px !important;
}

.blog-css h2.entry-title:hover a::after,
.custom-blog-card:hover h5.custom-blog-title::after,
.custom-main-post:hover h5.custom-blog-title::after {
  transform: rotate(0deg) !important;
}

.blog-css h2.entry-title a::after,
h5.custom-blog-title::after {
  content: "" !important;
  display: inline-block !important;
  width: 1em !important;
  height: 1em !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  font-size: 30px !important;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer !important;
  transform: rotate(-45deg) !important;
}

h6.custom-blog-title a {
  color: black !important;
  font-size: 18px !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}

h5.custom-blog-title a {
  font-weight: 600 !important;
}

h5.custom-blog-title {
  position: relative !important;
  font-family: "Inter" !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  padding-right: 45px !important;
  color: #000 !important;
}

h5.custom-blog-title a {
  color: #000 !important;
  text-decoration: none !important;
}

.ekit-wid-con .elementskit-post-image-card:hover .elementskit-entry-thumb > img,
.custom-blog-card:hover .blog-img-wrapper img,
.side-bar-card:hover .blog-img-wrapper img,
.custom-main-post:hover .blog-img-wrapper img {
  transform: scale(1.05) !important;
  opacity: 1 !important;
}

.blog-img-wrapper a {
  overflow: hidden !important;
  margin-bottom: 10px !important;
}

.blog-img-wrapper a:has(.side-blog-img) {
  width: 280px !important;
  height: 200px !important;
  display: block !important;
}

.blog-img-wrapper img,
.side-bar-card .blog-img-wrapper img {
  transition: all 0.4s ease !important;
}

/* BLOG PAGE CSS END */

.padding-md {
  padding-top: 1rem !important;
  padding-bottom: 5rem !important;
}

img {
  max-width: 100% !important;
}

p {
  font-size: 18px !important;
}

h1.blog-title {
  font-size: 40px !important;
  font-weight: 600 !important;
  color: #000 !important;
}

img.hero {
  max-height: 100% !important;
  object-fit: cover !important;
  width: 100% !important;
}

.tabs {
  flex: 1 !important;
  border-radius: 10px !important;
  position: sticky !important;
  top: 98px !important;
  height: fit-content !important;
}

.tabs a {
  display: flex !important;
  justify-content: space-between !important;
  align-content: center !important;
  padding: 15px 0 !important;
  color: #000 !important;
  text-decoration: none !important;
  border-left: 3px solid transparent !important;
  transition: all 0.2s ease-in-out !important;
  font-size: 22px !important;
  border-bottom: 1px solid #000 !important;
  font-weight: 600 !important;
}

.tabs a:last-child {
  border: none !important;
}

.tab-content {
  flex: 3 !important;
  background: #fff !important;
  border-radius: 10px !important;
}

.tab-content section {
  margin-bottom: 60px !important;
}

.tab-content h2 {
  color: #222 !important;
  font-size: 24px !important;
  font-weight: 650 !important;
  margin: 8px 0px 16px !important;
}

.tab-content h4 {
  margin: 8px 0px 16px !important;
}

.tab-content p {
  font-size: 18px !important;
  color: #6b6868 !important;
  margin-bottom: 14.4px !important;
}

.tabs a.active {
  padding-left: 20px !important;
  position: relative !important;
}

.tabs a.active::before {
  content: "•" !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  transform: translate(0) !important;
  font-size: 34px !important;
  color: #5e9d5e !important;
}

.tab-item {
  margin-bottom: 24px !important;
}

.tab-item h5 {
  font-size: 20px !important;
}

.fadeInUp {
  font-size: 16px !important;
  color: #727272 !important;
  animation-name: fadeInUp !important;
  animation-duration: 1.2s !important;
  animation-delay: 0.8s !important;
  animation-fill-mode: both !important;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

.custom-blog-wrapper {
  padding: 2rem 0 !important;
}

.custom-blog-heading {
  margin-bottom: 1.5rem !important;
  font-weight: bold !important;
}

.custom-post-meta {
  font-size: 15px !important;
  color: #000000 !important;
  margin-bottom: 0.5rem !important;
  font-weight: 500 !important;
  margin-top: 10px !important;
}
.custom-blog-card .blog-img-wrapper {
  overflow: hidden !important;
}

.custom-tags span {
  font-size: 14px !important;
  background-color: transparent !important;
  border-radius: 15px !important;
  padding: 2px 15px !important;
  border: 2px solid !important;
  margin-right: 8px !important;
  display: inline-block !important;
  color: black !important;
  font-weight: 500 !important;
}

.side-blog-img {
  height: 200px !important;
  width: 280px !important;
  object-fit: cover !important;
}

.main-blog-img {
  object-fit: cover !important;
  width: 100% !important;
  height: 500px !important;
}

.category-tag {
  background-color: #ffe5b4 !important;
  color: #333 !important;
  font-weight: 600 !important;
}

.custom-blog-card {
  border: none !important;
}

.custom-blog-body {
  padding: 0 !important;
}

.custom-blog-title {
  font-weight: bold !important;
}

.custom-blog-text {
  margin-bottom: 0.5rem !important;
  font-size: 0.9rem !important;
  color: #707070 !important;
}

.custom-blog-snippet {
  font-size: 0.9rem !important;
  color: #707070 !important;
  margin-bottom: 12px !important;
}

.side-bar-content {
  margin-left: 15px !important;
}

.custom-main-title {
  font-weight: bold !important;
  font-size: 1.75rem !important;
  margin: 16px 0px 24px;
}

.card {
  overflow: hidden !important;
}

.card-body {
  padding: 15px 0px !important;
}

.card-img-top {
  object-fit: cover !important;
  max-height: 215px !important;
  width: 100% !important;
}

.card-title {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

.card-text {
  font-size: 0.9rem !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
  color: #707070 !important;
}

.text-muted {
  font-size: 0.9rem !important;
  color: #666 !important;
}

.custom-tags {
  margin-top: 10px !important;
}

.pagination {
  width: 100% !important;
  margin: 30px 0px !important;
  justify-content: space-between;
  display: flex !important;
  flex-wrap: wrap !important;
}

.pagination .page-item {
  margin: 0 5px !important;
}

.pagination .page-item .page-link {
  padding: 8px 14px !important;
  border-radius: 12px !important;
  background-color: #f1f1f1 !important;
  border: 1px solid #ddd !important;
  color: #333 !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out !important;
  font-weight: 500 !important;
}

.pagination .page-item.active .page-link {
  background-color: #000000 !important;
  color: white !important;
  border-color: #000000 !important;
}

.pagination .page-item.disabled .page-link {
  background-color: #f8f9fa !important;
  pointer-events: none !important;
}

.pagination .page-item .page-link:hover {
  background-color: #ffffff !important;
  color: black !important;
}

.tab-content p {
  font-size: 16px !important;
  color: #727272 !important;
}

a.btn.btn-outline {
  padding: 8px 14px !important;
  border-radius: 12px !important;
  background-color: #f1f1f1 !important;
  border: 1px solid #ddd !important;
  color: #333 !important;
  text-decoration: none !important;
  transition: all 0.3s ease !important;
  font-weight: 500 !important;
  margin: 10px !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0 !important;
    transform: translate3d(0, 100%, 0) !important;
  }

  to {
    opacity: 1 !important;
    transform: none !important;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft !important;
  animation-delay: 2.5s !important;
  animation-duration: 1.2s !important;
  animation-fill-mode: both !important;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

@keyframes fadeInLeft {
  from {
    opacity: 0 !important;
    -webkit-transform: translate3d(-100%, 0, 0) !important;
    transform: translate3d(-100%, 0, 0) !important;
  }

  to {
    opacity: 1 !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
}

.fadeInRight {
  animation-name: fadeInRight !important;
  animation-delay: 2.5s !important;
  animation-duration: 1.2s !important;
  animation-fill-mode: both !important;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

@keyframes fadeInRight {
  from {
    opacity: 0 !important;
    -webkit-transform: translate3d(100%, 0, 0) !important;
    transform: translate3d(100%, 0, 0) !important;
  }

  to {
    opacity: 1 !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
}

@media screen and (max-width: 990px) {
  .custom-blog-card {
    margin-bottom: 30px !important;
  }

  main#content {
    padding: 0 20px !important;
  }

  .custom-blog-wrapper {
    padding: 10px !important;
  }

  .author-img {
    position: absolute !important;
  }

  .author-details-part {
    padding-top: 100px !important;
  }

  .custom-blog-main-container {
    padding: 0px 20px !important;
  }
}

@media screen and (max-width: 768px) {
  h1.blog-title {
    font-size: 32px !important;
  }

  .padding-md {
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
  }

  .tabs a,
  .tab-item h5 {
    font-size: 18px !important;
    padding: 12px 0 !important;
  }

  .tab-content p,
  p {
    font-size: 16px !important;
    color: #727272 !important;
  }

  .custom-post-meta {
    font-size: 16px !important;
    margin: 10px 0px 4px !important;
  }
  .card-text {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 480px) {
  img.navbar-brand {
    max-width: 180px !important;
  }

  #primary h1 {
    font-size: 1.7rem !important;
  }

  #primary h2 {
    font-size: 1.5rem !important;
  }

  .card-img-top {
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
  }

  .entry-title,
  .post-thumbnail,
  .entry-header {
    font-size: 25px !important;
  }

  .header-btn {
    padding: 10px 25px !important;
  }
  .custom-main-title {
    font-size: 1.4rem !important;
  }
  .side-blog-img {
    height: 250px !important;
    width: 100% !important;
    object-fit: cover !important;
  }

  .all-blog {
    padding-top: 0px !important;
  }

  .side-bar-card {
    margin-bottom: 30px !important;
  }

  .custom-blog-wrapper {
    padding: 0px !important;
  }

  .side-bar-card.d-flex.aos-init.aos-animate {
    flex-wrap: wrap !important;
  }

  .blog-img-wrapper a:has(.side-blog-img) {
    width: initial !important;
    height: initial !important;
  }

  .side-bar-content {
    margin-left: 0px !important;
  }

  .author-section .row {
    flex-direction: column !important;
  }

  .main-blog-img {
    height: 220px !important;
  }
}

/* Data aos animation css */
.transition-scale {
  transition: all 0.5s ease !important;
}

.transition-scale:hover {
  transform: scale(1.05) !important;
}

/* blockqoute css */
blockquote {
  border-left: 10px solid #a2a0a0 !important;
  background-color: #f7f7f7 !important;
  padding: 15px !important;
  width: auto !important;
  margin: 10px 0px !important;
}

/* contact css */
.contact-page h1 {
  font-weight: 800 !important;
}

.contact-form input.form-control,
.contact-form select.form-control,
.contact-form select,
.contact-form .form-select {
  height: 44px !important;
}

.custom-textarea {
  height: 100px !important;
  resize: none !important;
}
